In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_excel('../data/model_data.xlsx')
df = data.copy()
df.head()

  ilce_adi mahalle_adi sulak_alan_miktari   toprak_tipi product_category
0   Ahırlı    ALİÇERÇİ                10%  Kumlu toprak                E
1   Ahırlı     BADEMLİ                10%  Kumlu toprak                E
2   Ahırlı   BALIKLAVA                20%  Kumlu toprak                E
3   Ahırlı     BÜYÜKÖZ                 5%  Kumlu toprak                E
4   Ahırlı     ÇİFTLİK                75%  Kumlu toprak                F